---
layout: default
title: "Portfolio"
---

# Bienvenue dans mon portfolio

Voici mes projets récents :

<div class="portfolio-images">
    <img src="{{ '/assets/images/train.webp' | relative_url }}" alt="Projet 1">
    <img src="{{ '/assets/images/chat.webp' | relative_url }}" alt="Projet 2">
</div>

<style>
    .portfolio-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    .portfolio-images img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>
