<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    </head>

<body>
    <header>
        <h1>Bienvenue</h1>
    </header>
    <main>
        <div class="portfolio-images">
            <img src="/assets/images/image1.jpg" alt="Description de l'image 1">
            <img src="/assets/images/image2.jpg" alt="Description de l'image 2">
            <!-- Ajoutez d'autres images ici -->
        </div>
        {{ content }}
    </main>
    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} - Mon Portfolio</p>
    </footer>
</body>
</html>
